*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
  color: #000;
  font-size: 21px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}

.header {
  background: #d3ab08;
  border-bottom: 2px solid #d3d3d3;
  margin-bottom: 2px;
  padding: 20px 0 20px;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav_list {
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
}

.nav_item {
  display: inline-block;
}

.nav_item_links {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin-left: 17px;
}

.promo_section {
  background: #ffcc01 url(/images/header_img.jpg) 100% 0 no-repeat;
  background-size: auto 100%;
  color: #fefefe;
  text-align: center;
  text-transform: uppercase;
  /* padding: 200px 0; */
  margin-bottom: 60px;
}

.promo_section_wrapper {
  padding-top: 225px;
  padding-bottom: 225px;
  font-size: 40px;
}

.promo_title {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 0 0 32px;
}

.promo_descr {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin: 0;
}